<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Dados</title>
</head>

<body>
    <form method="POST">
        <laber for="id">Id</laber>
        <input type="text" name="_id" id="id" readonly value="<%=Usuario._id%>">
        </br>
        <label for="nome">Nome</label>
        <input type="text" name="nome" id="nome" required placeholder="Digite seu nome" value="<%=Usuario.nome%>">
        </br>
        </br>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required placeholder="Digite seu email" value="<%=Usuario.email%>">
        </br>
        </br>
        <label for="Senha">Senha</label>
        <input type="password" name="Senha" id="Senha" required placeholder="Digite seu Senha"
            value="<%=Usuario.senha%>">
        </br>
        </br>
        <label for="datanasc">Data de Nascimento</label>
        <input type="date" name="datanasc" id="datanasc" value="<%=Usuario.datanasc%>">
        </br>
        <input type="submit" value="Enviar">
    </form>
</body>

</html>